<h1>Flats</h1>
<ul>
  <% @flats.each do |flat| %>
    <div class="flat">
      <li><%= link_to flat["name"], show_path(flat["id"]) %>, price: <%= flat["price"] %> <br>
        <img src=<%= flat["imageUrl"] %> width=200></li>
      <%= link_to "View Flat", show_path(flat["id"]) %>
      <!-- link_to "clickable part", path -->
    </div>
  <% end %>
</ul>