<h1>Flats#index</h1>
<p>Find me in app/views/flats/index.html.erb</p>
<% @flats.each do |flat| %>
  <p><%= flat["price"] %> - <%= flat["priceCurrency"]%></p>
  <!-- link to the show page -->
  <%= link_to flat["name"], flat_path(flat["id"]) %>
<% end %>
<!-- id: 145,
name: "Charm at the Steps of the Sacre Coeur/Montmartre",
imageUrl: "https://raw.githubusercontent.com/lewagon/flats-boilerplate/master/images/flat1.jpg",
price: 164,
priceCurrency: "EUR",
lat: 48.884211,
lng: 2.34689 -->